SUPABASE_URL=https://ID.supabase.co
SUPABASE_KEY=KEY

ITOP_USER=user
ITOP_PASSWORD=password
ITOP_URL=https://itop.com/pages/UI.php
ITOP_DATA_URL=https://itop.com/pages/UI.php

MQTT_BROKER=192.168.1.X
MQTT_PORT=1883
MQTT_BASE_TOPIC=itop/metrics

INTERVAL=300